.date{
   
    opacity: 0.5; 
    font-size: 12px;
    line-height: 9px;
    letter-spacing: 0.3px;
    color: #4a4a4a;
    font-family: 'Muli', sans-serif;
<<<<<<< HEAD
=======
    /* background-color:orange; */
>>>>>>> 29f9dcc7820d62896e1e0a27d8f89248002acb2b
  }
