.body:hover
{
    margin:auto;
    font-family: 'Muli', sans-serif;
}
.window
  {

    width: 87.5%;
    display: flex;
    flex-direction: column;
    margin-left:6.25%;
    margin-right:6.25%;
    
  }

@import url('https://fonts.googleapis.com/css?family=Muli:400'); 