.wall 
{
    margin:auto;
    width: 840px;
    height: 588.5px;
    background-color: RED;
    font-family: 'Muli', sans-serif;

}
.Rectangle-3 {

    width: 735px;
    margin-left:52.5px;
    margin-right:52.5px;
    height: 588.5px;
    background-color:yellow;
  
  }
  .Bitmap {
    width: 705px;
    height: 100px;
    margin-left: 15px;
    margin-right: 15px;
    /* opacity: 0.3;
    -webkit-filter: blur(3px);
    filter: blur(3px); */
    
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #ffffff;
  }

.Wall-of-Contribution 
  {
    display: flex;
    justify-content: flex-start;
    width: 300px;
    height: 28px;
    margin-left: 21.5px;
    margin-top: 29px;
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 1px;
    text-align: center;
    text-shadow: 0 1px 0 #000000;
    font-family: 'Muli', sans-serif;
}

.Coming-together-is-a {
    width: 600px;
    margin-left: 21.5px;
    margin-bottom: 31.5px;
    font-size: 11px;
    font-weight: 600;
}
@import url('https://fonts.googleapis.com/css?family=Muli:400'); 